[submodule "thirdparty/catch"]
	path = thirdparty/catch
	url = https://github.com/philsquared/Catch.git
[submodule "thirdparty/brigand"]
	path = thirdparty/brigand
	url = https://github.com/edouarda/brigand.git
[submodule "thirdparty/callable_traits"]
	path = thirdparty/callable_traits
	url = https://github.com/boostorg/callable_traits.git
