[submodule "thirdparty/catch"]
	path = thirdparty/catch
	url = https://github.com/philsquared/Catch.git
[submodule "thirdparty/brigand"]
	path = thirdparty/brigand
	url = https://github.com/edouarda/brigand.git
